# Virtual Environment
venv/
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE / Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db